.hanging-indent {
  /* Indent all lines by 2em, except the first line */
  text-indent: -2em;
  /* Shift the entire block to the right to make the negative indent visible */
  padding-left: 2em;
}

 figcaption {    
    text-align: center;   
    } 